@import './_variables.scss';
@import './_functions.scss';

.products-container{
    @include flexCenter(row, center);
    padding: 10px;
    gap: 10px;
}
.product-container{
    background-color: $cor_fundo_produto;

    width: 200px;
    height: 100px;
    border-radius: 10px;

    @include flexCenter(column, center);
    
    padding: auto;

    .product-title{
        color: $cor_do_texto;
    }
}
